In [272]:
# Load library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import quandl
import pandas as pd, datetime as dt
import datetime
from datetime import datetime
from dateutil import parser

In [273]:
# Read & Change Date Format
df = pd.read_csv('fileOne.csv', parse_dates = ['date'])
df

/Users/rc/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname CT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

                   date                           tsp_name        loc    tsq
0   2017-10-30 22:05:00  Caledonia Energy Partners, L.L.C.     542519 -40000
1   2017-10-30 22:05:00  Caledonia Energy Partners, L.L.C.     542524   5000
2   2017-10-29 22:05:00  Caledonia Energy Partners, L.L.C.     542519 -40000
3   2017-10-29 22:05:00  Caledonia Energy Partners, L.L.C.     542524   5000
4   2017-10-28 22:05:00  Caledonia Energy Partners, L.L.C.     542519      0
..                  ...                                ...        ...    ...
295 2017-10-05 22:05:00          East Cheyenne Gas Storage  029734466  38963
296 2017-10-04 22:05:00          East Cheyenne Gas Storage  029734466  72207
297 2017-10-03 22:05:00          East Cheyenne Gas Storage  029734466  66827
298 2017-10-02 22:05:00          East Cheyenne Gas Storage  029734466  74999
299 2017-10-01 22:05:00          East Cheyenne Gas Storage  029734466   5000

[300 rows x 4 columns]

In [274]:
df_loc = df.groupby('loc')

In [275]:
print("loc")
print(df_loc.groups.keys())
print("Location: " + str(df_loc.ngroups))

loc
dict_keys(['0002', '012709', '021039', '029734466', '542519', '542524', 'BG-1002', 'BG-1003', 'BG-1008', 'BG-1013'])
Location: 10

In [276]:
df_c = df.groupby(by = ['date', 'tsp_name'])['tsq'].sum()
print(df_c)

date                 tsp_name
2017-10-01 22:05:00  BayGas Storage                       327375
                     Caledonia Energy Partners, L.L.C.     43663
                     East Cheyenne Gas Storage              5000
                     Freebird Gas Storage L.L.C.           43316
2017-10-02 22:05:00  BayGas Storage                       296064
                                                           ...
2017-10-29 22:05:00  Freebird Gas Storage L.L.C.          -37500
2017-10-30 22:05:00  BayGas Storage                       630501
                     Caledonia Energy Partners, L.L.C.    -35000
                     East Cheyenne Gas Storage            -83110
                     Freebird Gas Storage L.L.C.          -37500
Name: tsq, Length: 120, dtype: int64

In [277]:
x = df_loc.get_group('012709')
x

                   date                     tsp_name     loc    tsq
62  2017-10-30 22:05:00  Freebird Gas Storage L.L.C.  012709 -40000
65  2017-10-29 22:05:00  Freebird Gas Storage L.L.C.  012709 -40000
68  2017-10-28 22:05:00  Freebird Gas Storage L.L.C.  012709      0
71  2017-10-27 22:05:00  Freebird Gas Storage L.L.C.  012709      0
74  2017-10-26 22:05:00  Freebird Gas Storage L.L.C.  012709 -30000
77  2017-10-25 22:05:00  Freebird Gas Storage L.L.C.  012709      0
80  2017-10-24 22:05:00  Freebird Gas Storage L.L.C.  012709      0
83  2017-10-23 22:05:00  Freebird Gas Storage L.L.C.  012709      0
86  2017-10-22 22:05:00  Freebird Gas Storage L.L.C.  012709      0
89  2017-10-21 22:05:00  Freebird Gas Storage L.L.C.  012709      0
92  2017-10-20 22:05:00  Freebird Gas Storage L.L.C.  012709      0
95  2017-10-19 22:05:00  Freebird Gas Storage L.L.C.  012709      0
98  2017-10-18 22:05:00  Freebird Gas Storage L.L.C.  012709      0
101 2017-10-17 22:05:00  Freebird Gas Storage L.L.C.  012709      0
104 2017-10-16 22:05:00  Freebird Gas Storage L.L.C.  012709      0
107 2017-10-15 22:05:00  Freebird Gas Storage L.L.C.  012709      0
110 2017-10-14 22:05:00  Freebird Gas Storage L.L.C.  012709      0
113 2017-10-13 22:05:00  Freebird Gas Storage L.L.C.  012709      0
116 2017-10-12 22:05:00  Freebird Gas Storage L.L.C.  012709      0
119 2017-10-11 22:05:00  Freebird Gas Storage L.L.C.  012709 -40000
122 2017-10-10 22:05:00  Freebird Gas Storage L.L.C.  012709 -50000
125 2017-10-09 22:05:00  Freebird Gas Storage L.L.C.  012709 -45000
128 2017-10-08 22:05:00  Freebird Gas Storage L.L.C.  012709 -40000
131 2017-10-07 22:05:00  Freebird Gas Storage L.L.C.  012709      0
134 2017-10-06 22:05:00  Freebird Gas Storage L.L.C.  012709      0
137 2017-10-05 22:05:00  Freebird Gas Storage L.L.C.  012709      0
140 2017-10-04 22:05:00  Freebird Gas Storage L.L.C.  012709      0
143 2017-10-03 22:05:00  Freebird Gas Storage L.L.C.  012709      0
146 2017-10-02 22:05:00  Freebird Gas Storage L.L.C.  012709      0
149 2017-10-01 22:05:00  Freebird Gas Storage L.L.C.  012709      0

In [279]:
df.groupby('tsp_name') 
print(df.groupby('tsp_name').groups)

{'BayGas Storage': Int64Index([150, 151, 152, 153, 154, 155, 156, 157, 158, 159,
            ...
            260, 261, 262, 263, 264, 265, 266, 267, 268, 269],
           dtype='int64', length=120), 'Caledonia Energy Partners, L.L.C.': Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59],
           dtype='int64'), 'East Cheyenne Gas Storage': Int64Index([270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282,
            283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295,
            296, 297, 298, 299],
           dtype='int64'), 'Freebird Gas Storage L.L.C.': Int64Index([ 60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,
             73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,
             86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,  98,
             99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111,
            112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124,
            125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137,
            138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64')}

In [280]:
df = df.groupby('tsp_name') 
df.first()

                                                 date        loc     tsq
tsp_name
BayGas Storage                    2017-10-30 22:05:00    BG-1002  227861
Caledonia Energy Partners, L.L.C. 2017-10-30 22:05:00     542519  -40000
East Cheyenne Gas Storage         2017-10-30 22:05:00  029734466  -83110
Freebird Gas Storage L.L.C.       2017-10-30 22:05:00       0002       0

In [285]:
df = pd.read_csv('fileOne.csv', parse_dates = ['date'])
df

/Users/rc/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname CT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

                   date                           tsp_name        loc    tsq
0   2017-10-30 22:05:00  Caledonia Energy Partners, L.L.C.     542519 -40000
1   2017-10-30 22:05:00  Caledonia Energy Partners, L.L.C.     542524   5000
2   2017-10-29 22:05:00  Caledonia Energy Partners, L.L.C.     542519 -40000
3   2017-10-29 22:05:00  Caledonia Energy Partners, L.L.C.     542524   5000
4   2017-10-28 22:05:00  Caledonia Energy Partners, L.L.C.     542519      0
..                  ...                                ...        ...    ...
295 2017-10-05 22:05:00          East Cheyenne Gas Storage  029734466  38963
296 2017-10-04 22:05:00          East Cheyenne Gas Storage  029734466  72207
297 2017-10-03 22:05:00          East Cheyenne Gas Storage  029734466  66827
298 2017-10-02 22:05:00          East Cheyenne Gas Storage  029734466  74999
299 2017-10-01 22:05:00          East Cheyenne Gas Storage  029734466   5000

[300 rows x 4 columns]

In [295]:
# GroupBy 7 days
df.groupby(pd.Grouper(key='date',freq='7D')).head()

                   date                           tsp_name     loc    tsq
58  2017-10-01 22:05:00  Caledonia Energy Partners, L.L.C.  542519      0
59  2017-10-01 22:05:00  Caledonia Energy Partners, L.L.C.  542524  43663
147 2017-10-01 22:05:00        Freebird Gas Storage L.L.C.    0002      0
148 2017-10-01 22:05:00        Freebird Gas Storage L.L.C.  021039  43316
149 2017-10-01 22:05:00        Freebird Gas Storage L.L.C.  012709      0
44  2017-10-08 22:05:00  Caledonia Energy Partners, L.L.C.  542519 -40000
45  2017-10-08 22:05:00  Caledonia Energy Partners, L.L.C.  542524      0
126 2017-10-08 22:05:00        Freebird Gas Storage L.L.C.    0002      0
127 2017-10-08 22:05:00        Freebird Gas Storage L.L.C.  021039   2500
128 2017-10-08 22:05:00        Freebird Gas Storage L.L.C.  012709 -40000
30  2017-10-15 22:05:00  Caledonia Energy Partners, L.L.C.  542519      0
31  2017-10-15 22:05:00  Caledonia Energy Partners, L.L.C.  542524  40816
105 2017-10-15 22:05:00        Freebird Gas Storage L.L.C.    0002      0
106 2017-10-15 22:05:00        Freebird Gas Storage L.L.C.  021039  43316
107 2017-10-15 22:05:00        Freebird Gas Storage L.L.C.  012709      0
16  2017-10-22 22:05:00  Caledonia Energy Partners, L.L.C.  542519      0
17  2017-10-22 22:05:00  Caledonia Energy Partners, L.L.C.  542524  53816
84  2017-10-22 22:05:00        Freebird Gas Storage L.L.C.    0002      0
85  2017-10-22 22:05:00        Freebird Gas Storage L.L.C.  021039  43316
86  2017-10-22 22:05:00        Freebird Gas Storage L.L.C.  012709      0
2   2017-10-29 22:05:00  Caledonia Energy Partners, L.L.C.  542519 -40000
3   2017-10-29 22:05:00  Caledonia Energy Partners, L.L.C.  542524   5000
63  2017-10-29 22:05:00        Freebird Gas Storage L.L.C.    0002      0
64  2017-10-29 22:05:00        Freebird Gas Storage L.L.C.  021039   2500
65  2017-10-29 22:05:00        Freebird Gas Storage L.L.C.  012709 -40000