In [2]:
# Load library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import quandl
import pandas as pd, datetime as dt
import datetime
from datetime import datetime
from dateutil import parser

In [5]:
# Read the csv & Change date format
df = pd.read_csv('historic_storage.csv', parse_dates = ['date'])
df

/Users/rc/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname CT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

                     date                           tsp_name        loc    tsq
0     2020-10-08 22:05:00  Caledonia Energy Partners, L.L.C.     542519 -34420
1     2020-10-08 22:05:00  Caledonia Energy Partners, L.L.C.     542524      0
2     2020-10-07 22:05:00  Caledonia Energy Partners, L.L.C.     542519 -35020
3     2020-10-07 22:05:00  Caledonia Energy Partners, L.L.C.     542524      0
4     2020-10-06 22:05:00  Caledonia Energy Partners, L.L.C.     542519 -12420
...                   ...                                ...        ...    ...
11056 2017-10-05 22:05:00          East Cheyenne Gas Storage  029734466  38963
11057 2017-10-04 22:05:00          East Cheyenne Gas Storage  029734466  72207
11058 2017-10-03 22:05:00          East Cheyenne Gas Storage  029734466  66827
11059 2017-10-02 22:05:00          East Cheyenne Gas Storage  029734466  74999
11060 2017-10-01 22:05:00          East Cheyenne Gas Storage  029734466   5000

[11061 rows x 4 columns]

In [6]:
# Using group by for how many location on csv file
df_loc = df.groupby('loc')

In [7]:
# Print unique loc
print(df_loc.groups.keys())

dict_keys(['00000', '0002', '012709', '021039', '029734466', '542519', '542524', 'BG-1002', 'BG-1003', 'BG-1008', 'BG-1013', 'BG-SCS', 'Segment 10', 'Segment 40'])

In [8]:
# We can look at the location individually

# FreebirdGasStorageL.L.C. = df_loc.get_group('0002')[['date','tsp_name','tsq']]
# FREE3 = df_loc.get_group('021039')[['date','tsp_name','tsq']]

# CaledoniaEnergyPartners = df_loc.get_group('542524')[['date','tsp_name','tsq']]

# BayGasStorage = df_loc.get_group('BG-1003')[['date','tsp_name','tsq']]
# B3 = df_loc.get_group('BG-1008')[['date','tsp_name','tsq']]
# B4 = df_loc.get_group('BG-1013')[['date','tsp_name','tsq']]

# We don't need to all location that's why we are getting one company and location
C = (pd.DataFrame(df_loc.get_group('542519')[['date','tsq']])).rename(columns={'tsq':'Caledonia Energy Partners, L.L.C.'})
B1 = (df_loc.get_group('BG-1002')[['date','tsq']]).rename(columns={'tsq':'BayGas Storage'})
EAST1 = (df_loc.get_group('029734466')[['date','tsq']]).rename(columns={'tsq':'East Cheyenne Gas Storage'})
FREE1 = (df_loc.get_group('012709')[['date','tsq']]).rename(columns={'tsq':'Freebird Gas Storage L.L.C.'})

In [9]:
# Start to merge dataframe one by one
A=pd.merge(C, B1, on=["date"])
A.head()

                 date  Caledonia Energy Partners, L.L.C.  BayGas Storage
0 2020-10-08 22:05:00                             -34420         -117096
1 2020-10-07 22:05:00                             -35020         -160748
2 2020-10-06 22:05:00                             -12420         -204089
3 2020-10-05 22:05:00                              -7420         -101314
4 2020-10-04 22:05:00                              -2420           73641

In [10]:
B=pd.merge(A,EAST1, on=["date"])
B.head()

,date,"Caledonia Energy Partners, L.L.C.",BayGas Storage,East Cheyenne Gas Storage
0,2020-10-08 22:05:00,-34420,-117096,3607
1,2020-10-07 22:05:00,-35020,-160748,-2384
2,2020-10-06 22:05:00,-12420,-204089,6195
3,2020-10-05 22:05:00,-7420,-101314,9855
4,2020-10-04 22:05:00,-2420,73641,16584

In [11]:
Historic=pd.merge(B,FREE1, on=["date"])
Historic

,date,"Caledonia Energy Partners, L.L.C.",BayGas Storage,East Cheyenne Gas Storage,Freebird Gas Storage L.L.C.
0,2020-10-08 22:05:00,-34420,-117096,3607,-5649
1,2020-10-07 22:05:00,-35020,-160748,-2384,-10649
2,2020-10-06 22:05:00,-12420,-204089,6195,-5649
3,2020-10-05 22:05:00,-7420,-101314,9855,-3149
4,2020-10-04 22:05:00,-2420,73641,16584,-649
...,...,...,...,...,...
1091,2017-10-05 22:05:00,0,101219,38963,0
1092,2017-10-04 22:05:00,0,130445,72207,0
1093,2017-10-03 22:05:00,0,64692,66827,0
1094,2017-10-02 22:05:00,0,77724,74999,0
1095,2017-10-01 22:05:00,0,90285,5000,0

In [14]:
# Export file as a CSV 
Historic.to_csv("Historic.csv", index=False, header=True)

In [21]:
df = pd.read_csv('Historic.csv', parse_dates = ['date'])
df.head()

,date,"Caledonia Energy Partners, L.L.C.",BayGas Storage,East Cheyenne Gas Storage,Freebird Gas Storage L.L.C.
0,2020-10-08 22:05:00,-34420,-117096,3607,-5649
1,2020-10-07 22:05:00,-35020,-160748,-2384,-10649
2,2020-10-06 22:05:00,-12420,-204089,6195,-5649
3,2020-10-05 22:05:00,-7420,-101314,9855,-3149
4,2020-10-04 22:05:00,-2420,73641,16584,-649

In [25]:
# GroupBy 7 days
df.groupby(pd.Grouper(key='date',freq='7D')).sum()

,"Caledonia Energy Partners, L.L.C.",BayGas Storage,East Cheyenne Gas Storage,Freebird Gas Storage L.L.C.
date,,,,
2017-10-01,0,379312,350308,0
2017-10-08,-213500,-784063,262115,-175000
2017-10-15,0,459564,398714,0
2017-10-22,-39636,715575,60950,-30000
2017-10-29,-140000,-188304,-106241,-140000
...,...,...,...,...
2020-09-06,-7000,892668,330654,-16300
2020-09-13,-11750,31130,204417,-34197
2020-09-20,-5000,312237,140838,-42894
2020-09-27,-35260,412334,69239,-79947
2020-10-04,-91700,-509606,33857,-25745

In [ ]:
# Export file as a CSV 
Historic.to_csv("Historic.csv", index=False, header=True)